.text{
    color: black;
    background-color: grey;
  }
  .stx{
    margin-left: 20%;
  }
  .tit
  {
    text-align: center;
    background-color: rgb(53, 53, 168);
  }
  .name
  {
    margin-left: 15%;
  }
  .image
  {
    margin-left: 15%;
  }
  .link
  {
    margin-left: 15%;
  }