.nav
{
     text-align: center;
    height:35px;
    width:100%;
    position: relative;
      background-color: #f0f0f0;
}
li
{
    display: inline;
    padding-left: 20px;
}
.logo {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 40px; 
    height: 25px; 
  }
  

  .nav2
  {
    background-color: rgb(49, 49, 182);
    height: 60px;
    width: 100%;
  }
  .image
  {
    height: 50px;
    width: 50%;
    position:relative;
    top:5px ;
    left: 28%;
  }





 